@import "src/styles/colors";
@import "src/styles/fonts";
@import "src/styles/constants";

.t-container {
  display: flex;

  &__content {
    width: 100vh;
    max-width: 32vh;
    padding: 15px;
    border-bottom: 1px solid $red;
  }

  &__title {
    color: $bg-color-dark-3;
    font-size: $fontSizeL;
  }
}
