// Colors
$bg-color: #f6f7f8;
$primary: #189CD8;
$white: #fff;
$black: #1D1D1B;
$neutralGray: #949495;
$accentLime: #B2D818;
$text-color: #191919;
$neutral: #D9D9D9;
$yellow: #fff000;

$bg-color-dark: #1E1E1E;
$bg-color-dark-2: #282828;

$orange-color: #FFA940;

