@import "../../styles/colors";
@import "../../styles/fonts";

.tc-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 90%;
  height: 100vh;

  &__form {
    position: absolute;
    margin-top: 2em;
  }

  &__content {
    width: 100vh;
    max-width: 45vh;
    min-height: 45vh;
    border-radius: 5px;
    background-color: $neutral;
    margin: 7em 0 0 0;
  }
}


