@import "../../styles/colors";
@import "../../styles/fonts";

.tc-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em;

  &__content {
    width: 100vh;
    max-width: 40vh;
    min-height: 40vh;
    border-radius: 5px;
    background-color: $neutral;
  }
}


