@import "../../styles/colors";
@import "../../styles/fonts";

.tc-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 90%;
  height: 100vh;
  list-style: none;

  &__content {
    width: 100vh;
    max-width: 45vh;
    min-height: 45vh;
    border-radius: 5px;
    margin: auto;
    background-color: $neutral;
  }
}


