@import "src/styles/colors";
@import "src/styles/constants";

.tl-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 0 10px;
    height: 8vh;
    border-bottom: 3px solid $primary;
  }

  &__title {
    text-align: center;
    font-size: x-large;
    color: $text-color;
    font-weight: lighter;
    overflow: auto;
  }

  &__content {
    height: 100vh;
    max-height: 35vh;
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 10px;
    overflow-y: auto;
  }

  &__empty {
    font-size: $fontSizeX;
    padding: 10px;
    color: $neutralGray;
  }
}
