@import "styles/colors";
@import "styles/fonts";

body {
  background-color: $bg-color-dark;
  font-family: $satoshi;
  color: $white;
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
